::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
}

body {
  background-color: var(--theme-main-bg);
  color: var(--theme-text-color);
  @include setTransition;
}

a {
  @include setTransition;

  &:hover {
    @include setTransition;
  }
}

.arco-icon {
  font-size: 32px;
  stroke-width: 1;
}
