@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variable";
@import "reset";
@import "common";

[data-theme='light'], body[arco-theme="light"] {
  --color-primary: $lightColorPrimary;
  --color-suspension: $lightColorSuspension;
  --color-click: $lightColorClick;
  --color-special: $lightColorSpecial;
  --color-disabled: $lightColorDisabled;
  --color-text-disabled: $lightColorTextDisabled;
  --color-light-suspension: $lightColorLightSuspension;

  --theme-main-bg: $lightThemeTextColor;
  --theme-text-color: $lightThemeMainBackground;
}

[data-theme='dark'], body[arco-theme="dark"] {
  --color-primary: $darkColorPrimary;
  --color-suspension: $darkColorSuspension;
  --color-click: $darkColorClick;
  --color-special: $darkColorSpecial;
  --color-disabled: $darkColorDisabled;
  --color-text-disabled: $darkColorTextDisabled;
  --color-light-suspension: $darkColorLightSuspension;

  --theme-main-bg: $darkThemeTextColor;
  --theme-text-color: $darkThemeMainBackground;
}
