@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "common";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body[arco-theme="dark"] {
  --color-regular: #c71010;
  --color-suspension: #A70A0A;
  --color-click: #A1050A;
  --color-special: #FF4F00;
  --color-disabled: #F14848;
  --color-text-disabled: #FB5656;
  --color-light-suspension: #FB7D7D;
}
